body {
    font-size: 1em;
}
.page {
    display: flex;
    overflow: auto;
    text-align: justify;
}
aside {
    width: 15%;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: inset 0.5rem 0.5rem 5px -5px #29627e;
}

main {
    grid-template-columns: repeat(2, 50px 1fr) 100px;
    width: 85%;
}

section {
    flex: content;
    display : flex;
}

.elem {
    grid-row: 2;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    margin : 15px;
    width: 33%;
}

.img_elem {
    width: 50%;
}

.tit_elem {
    width: 25%;
}

.desc_elem {
    width: 25%;
}

.nav_elem {
    color: black;
    size: 1rem;
}

.nav_elem:hover {
    color: #d67417;
}

form {
    display: table;
}
div.form_div {
    display: table-row;
}
label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

footer {
    display: flex;
    padding: 5px;
    background-color: #d67417;
    color: #fff;
}