body {
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
}

.icon {
    width: 5%;
    filter: invert(1);
}

#welcome {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.page {
    display: flex;
    overflow: auto;
    text-align: justify;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

.nav_list{
    display: flex;
    list-style: none;
}

.nav_elem {
    color: white;
    size: 1rem;
    padding: 5px 14px;
    text-decoration: none;
}

.nav_elem:hover {
    color: #ffcd00;
}

main {
    width: 85%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.bloc {
    flex: content;
    display : flex;
}

.elem {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin : 15px;
    width: 33%;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #000;
}

.elem:hover {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
}

.img_elem {
    width: 50%;
}

.tit_elem {
    width: 25%;
    text-align: center;
}

.desc_elem {
    width: 25%;
    text-align: center;
}

#affich_btn {
    grid-row: 2;
    font-size: 2rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    width: 33%;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

#affich_btn:hover {
    background-color: #000;
    color: #ffcd00;
  }

form {
    display: table;
}
div.form_div {
    display: table-row;
}
label,
input, .text_error {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

input {
    
}

footer {
    display: flex;
    padding: 5px;
    background-color: #FFF;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

#section_presentation {
    display : flex;
}

#img_album {
    width: 15%;
    
}

#title_album {
    width: 75%;
    text-align: center;
}

#description_album {
    margin-left: 15%;
    width: 75%;
    text-align: center;
}