body {
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
}
.page {
    display: flex;
    overflow: auto;
    text-align: justify;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9EDFF;
}

.nav_list{
    display: flex;
    list-style: none;
}

.nav_elem {
    color: black;
    size: 1rem;
    padding: 5px 14px;
}

.nav_elem:hover {
    color: #5155FA;
}

main {
    width: 85%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

section {
    flex: content;
    display : flex;
}

.elem {
    grid-row: 2;
    background-color: #D9EDFF;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    margin : 15px;
    width: 33%;
}

.img_elem {
    width: 50%;
}

.tit_elem {
    width: 25%;
}

.desc_elem {
    width: 25%;
}

form {
    display: table;
}
div.form_div {
    display: table-row;
}
label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

footer {
    display: flex;
    padding: 5px;
    background-color: #D9EDFF;
}