body {
    font-family: 'Libre Baskerville', serif;
    word-wrap: break-word;
}

nav a img {
    width: 15%;
    filter: invert(1);
    min-height: 50px;
    min-width: 50px;
}

h1 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

main {
    display: flex;
    overflow: auto;
    text-align: justify;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li a {
    color: white;
    padding: 5px 14px;
    text-decoration: none;
    word-wrap:normal;
    display: inline-block;
    text-align: center;
}


nav li a:hover {
    color: #ffcd00;
}

main ul {
    width: 85%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  main ul li {
    display: grid;
    grid-gap: 30px;
  }
  @media (min-width: 768px) {
    main ul li {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    main ul li {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
  }
  main ul li a {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #000;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "image"
      "title";
    margin-bottom: 30px;
  }
  
  main ul li a:hover {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
  }
  
  main ul li a img {
    width: 100%;
    max-width: 100%;
    grid-area: image;
  }
  
  main ul li a h2 {
    text-align: center;
    margin: 0;
    grid-area: title;
    padding: 10px;
  }
  

#affich_btn {
    grid-row: 2;
    font-size: 2rem;
    background-color: #FFF;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    width: 33%;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 10px;
}

#affich_btn:hover {
    background-color: #000;
    color: #ffcd00;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    #affich_btn {
        font-size: 1.6rem;
    }
  }

  @media (max-width: 480px) {
    #affich_btn {
        font-size: 1.4rem;
    }
  }

footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 75%;
  }
  
  
footer form label {
    font-weight: bold;
    margin-bottom: 5px;
}
  
footer form input[type="text"],
footer form input[type="email"],
footer form textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.2rem;
}
  
input[type="submit"] {
    background-color: #ffff;
    color: black;
    border: none;
    padding: 10px 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    width: 25%;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 480px) {
    input[type="submit"] {
        font-size: 1.1rem;
    }
  }
  
input[type="submit"]:hover {
    background-color: black;
    color: #ffcd00;
  }
  

footer {
    
    padding: 5px;
    background-color: #FFF;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

section article {
    display : flex;
}

section article img {
    width: 15%;
    margin-top: 10px;
    min-width: 100px;
}

section article h2 {
    width: 75%;
    text-align: center;
}

#description_album {
    margin-left: 17%;
    width: 82%;
    margin-top: 10px;
    text-align: justify;
}

@media (max-width: 480px) {
  #description_album {
      width: 75%;
      position: center;
  }
}

section article p {
	font-size: 1.5rem;
}

#search {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
#search input[type="text"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    font-size: 1.2rem;
    margin-right: 10px;
}

#search_error {
  color: red;
}

article {
  margin: 20px;
  padding: 20px;
  background-color: #F5F5DC;
  border-radius: 10px;
}

article h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

article p {
  font-size: 1.2rem;
  line-height: 1.5;
}
